name: Node.js CI

on:
  push:
    branches:
      - '**'
    paths:
      - '__tests__/**'
      - 'src/**'
      - '.github/workflows/main.yml'
      - 'package.json'
      - 'dist/**'
  pull_request:
    branches: [main]
    paths: ['package.json', 'pnpm-lock.yaml']

permissions:
  contents: read
  actions: read
  id-token: write
  security-events: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        version: 10

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - run: pnpm install

    - run: pnpm run lint

    - run: pnpm run test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00 # v5.5.0
      with:
        fail_ci_if_error: true
        files: ./coverage/cobertura-coverage.xml
        env_vars: NODE
        use_oidc: true
      env:
        NODE: ${{ matrix.node-version }}

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
      with:
        use_oidc: true

    - run: pnpm run build:new

    - name: Compare the expected and actual lib/ directories
      run: |
        if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
          echo "Detected uncommitted changes after build.  See status below:"
          git diff
          exit 1
        fi